<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator Website | Creat Strong Password</title>
    <link rel="stylesheet" href="../static/style.class">
    <meta name="description" content="Generate secure passwords for your accounts with our free Random Password Generator, for free, creat strong website,">
</head>
<body>
    <div class="header-container">
        <div class="title"><h1>Random Password Generator</h1></div>
        <div class="subtitle"><h2>Instantly create strong and secure passwords to keep your accounts safe Online.</h2></div>
    </div>
    <div class="main-container--page">
        <div class="left-container--side">
            <div class="castel-image">
            </div>
        </div>
        <div class="right-container--side">
            <div class="password-gen__input"></div>
            <div class="password-gen__submit"></div>
            <div class="password-gen__length-submit"></div>
            <div class="password-gen__radio-character-used-submit"></div>
        </div>
    </div>
</body>
</html>