<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator App - Create strong password for free</title>
    <meta name="descrition" content="Random Password Generator , Create passwords for free to keep your accounts safe">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />
    <meta http-equiv="X-Frame-Options" content="DENY" />
    <!-- for good look in if someone shared the web app in social medio -->
    <meta property="og:title" content="Password Generator" />
    <meta property="og:description" content="Generate strong and secure passwords instantly." />
    <meta property="og:type" content="website" />
    <link rel="icon" href="{{ url_for('static', filename='Images/icon.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" />

    <!-- Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <!-- this is the main main of the web page -->
    <main class="page">
        <!-- head section -->
        <section class="header-content">
            <!-- these are the comonents of the header section -->
            <div class="header_big-header">
                <h1>Random Password Generator</h1>
            </div>

            <div class="header_sub-header">
                <p>create safe password for free to keep your accounts safe from Hackers</p>
            </div>
        </section>

        <!-- the main content devided to two section the right one and the left one -->
        <section class="main-content">
            <div class="right-side-content">
                <div class="castle-image-part">
                    <img src="{{ url_for('static', filename='Images/castle-image.png') }}" alt="this is the castle image">
                </div>
            </div>
            <div class="left-side-content">
                {% block body %}{% endblock %}
            </div>
        </section>
    </main>

     <!-- footer section -->
    <footer>
        <p>&copy; 2026 Password Generator. Built by <strong>Mehdi Talalha</strong> & <strong>Ashab Shafqat</strong>.</p>
        <p>Licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank" class="footer-link" rel="noopener noreferrer"><strong>MIT License</strong></a>.</p>

        <div class="social-links">
            <a href="https://github.com/Mehdi-Talalha" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://linkedin.com/https://www.linkedin.com/in/mehdi-talalha-0020b93b7//"  target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </footer>       
</body>
</html>